.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding-bottom: 50px;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position: fixed;
  background: white;
  padding: 0px 0px 40px 0px;
  text-align: left;
  width: 80%;
  margin-bottom: 100px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-main h1 {
  background-color: rgb(6, 82, 22);
  color: white;
  margin: 0;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
}
.modal-main p {
  padding-left: 20px;
  font-size: 15px;
}

.modal-main button {
  height: 30px;
  background-color: rgb(177, 0, 0);
  color: white;
  margin-left: 20px;
  font-size: 17px;
  border: none;
  width: 100px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

@media screen and (max-width: 900px) {
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: rgba(0, 0, 0, 0.6);
  }

  .modal-main {
    position: fixed;
    background: white;
    width: 80%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .display-block {
    display: block;
  }

  .display-none {
    display: none;
  }
}
